h1 {
    color:aquamarine;
    text-align: center;
}
a {
    display: inline-block;

    font-weight: bolder;
    width: 100px;

}
#movieName {
    width:80%;
}
.actor {
    width: 90px;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
div {
    display:inline;
}
