
h1 {
    color:aquamarine;
    text-align: center;
    display: block;
}
a {
  display: inline-block;

  font-weight: bolder;
  width: 100px;
}
#topBar {
  float: right;
  position: absolute;
  right: 0;
  top:0;
}
#searchDiv {
  text-align: center;
}
#searchBt {
  text-align: left;
  left: 10%;
  position: fixed;
}

#movieName {
  width: 80%;
}
#submitBt, #signInBt {
  display:inline-block;
}
.closeBtn {
  top: auto;
    right: 0;
    display: block;
    position: inherit;
}
.openBtn  {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}



  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal .bg {
    width: 100%;
    height: 100%;
    
  }

  .modalBox {
    position: absolute;
    background-color: palegreen;
    width: 275px;
    height: 150px;
    padding: 17px;
  }

  .modalBox button {
    display: block;
    width: 80px;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }